/* Banner Styles */
.banner {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.bannerimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.form {
  width: 70%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.input {
  padding: 20px 20px;
  width: 60%;
  border: 1px solid #ccc;
  margin: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input1 {
  /* border-radius:2rem 0rem 0rem 2rem */
}

.button {
  padding: 10px;
  width: 30%;
  background-color:#ffa500;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border-radius:0rem 2rem 2rem 0rem */
}

.button:hover {
  background-color: #333333;
}

.ui-datepicker {
  font-size: 25px !important;
  width: 19% !important;
}

.ui-widget-header{
  background: #ffa500 !important;
  color: white !important;
  border: none;
}

.ui-widget.ui-widget-content {
  border: 0px solid #000000 !important
}

.ui-datepicker th {
color: white !important
}
.ui-datepicker th {
  color: white !important
  }
  .ui-widget.ui-widget-content{
    border: none !important
  }

.ui-widget-content{
  background: #000000 !important
}

@media only screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .input,
  .button {
    width: 100%;
  }

  .ui-datepicker {
    font-size: 20px !important;
    width: 70% !important;
  }
}
