/* Banner Styles */
.banner {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.bannerimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.form {
  width: 70%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.input {
  padding: 20px 20px;
  width: 60%;
  border: 1px solid #ccc;
  margin: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input1 {
  /* border-radius:2rem 0rem 0rem 2rem */
}

.button {
  padding: 10px;
  width: 30%;
  background-color:#ffa500;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border-radius:0rem 2rem 2rem 0rem */
}

.button:hover {
  background-color: #333333;
}

.ui-datepicker {
  font-size: 25px !important;
  width: 19% !important;
}

.ui-widget-header{
  background: #ffa500 !important;
  color: white !important;
  border: none;
}

.ui-widget.ui-widget-content {
  border: 0px solid #000000 !important
}

.ui-datepicker th {
color: white !important
}
.ui-datepicker th {
  color: white !important
  }
  .ui-widget.ui-widget-content{
    border: none !important
  }

.ui-widget-content{
  background: #000000 !important
}


.info-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  align-content: center;
  gap: 15px;
  padding: 20px;
  background-color: #000000;
}
.card-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 10%;
  color: white;

}
.card-item h1 {
  font-size:xx-large;
  font-weight: bolder;
}

.card-item h2 {
  font-size: large;
  font-weight: bold;
  color: #ffa500;
}

.card-item h5 {
  font-size: small;
  font-weight:normal;
}


.about-section {
  background-color: #000000;
  color: white;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}
.about-section img{
  width: 50%;
}
.about-text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-text h1{
  font-size: xx-large;
  font-weight: bolder;
  color: #ffa500;
}
.about-text h2{
  font-size: x-large;
  font-weight: bold;
}
.about-text ul li{
  font-size: large;
  font-weight: normal;
  padding: 10px;
  
}
.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1px;
  justify-content: center;
  margin: 20px;
  text-align: center;
}
.gallery img{
  width: 100%;
}
.cgheading{
  font-size: xx-large;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  
}
@media only screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .input,
  .button {
    width: 100%;
  }

  .ui-datepicker {
    font-size: 20px !important;
    width: 70% !important;
  }
  .info-card{
    flex-direction: column;
    align-content: center;
  
  }
  .card-item{
    width: 100%;
  
  }
  .about-section{
    flex-direction: column;
  }
  .about-section img{
    width: 100%;
  }

    .about-text {
        max-width: 100%;
    }
    .carsdisplay{
      margin: 0rem;
    }
    .gallery{
      grid-template-columns: repeat(2, 1fr); 
  
    }
    .gallery h5{
      font-size: xx-small;
    }

}

