{% extends 'Base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cars.css' %}">
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const city = document.getElementById('cityname').innerText
        const pickupdata = document.getElementById('pickupdata').innerText
        const deliverydata = document.getElementById('deliverydata').innerText

        const userInfo = {
            city: city,
            pickupData: pickupdata,
            deliveryData: deliverydata
        };

        localStorage.setItem('userinfo', JSON.stringify(userInfo));
        document.getElementById('pickupLocationFilter').addEventListener('change', function () {
            const selectedOption = this.value;

            const section2 = document.querySelector('.section2');
            const cards = section2.querySelectorAll('.card');


            const sortedCards = Array.from(cards).sort((a, b) => {
                const aPlace = a.querySelector('.pickup-place').innerText.toLowerCase();
                const bPlace = b.querySelector('.pickup-place').innerText.toLowerCase();

                if (selectedOption === 'all') {
                    return 0;
                } else if (aPlace.includes(selectedOption) && !bPlace.includes(selectedOption)) {
                    return -1;
                } else if (!aPlace.includes(selectedOption) && bPlace.includes(selectedOption)) {
                    return 1;
                }
                return 0;
            });

            section2.innerHTML = '';
            sortedCards.forEach(card => section2.appendChild(card));
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="main">
    <div class="section1">
        <div class="filtersection citycontainer">
            <div>
                <h5>
                    Selected Location </h5>
                <h3 id="cityname">
                    {{ city }}
                </h3>
            </div>
            <div>
                <h5>Pickup location </h5>
                <select id="pickupLocationFilter" class="form-select">
                    <option value="all">Any place</option>
                    {% for place in pickup_places %}
                    <option value="{{ place }}">{{ place }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="citycontainer">
            <div>
                <h5>
                    From
                </h5>
                <h3 id="pickupdata">
                    {{ pickup_date }}
                </h3>
            </div>
            <iconify-icon icon="ph:arrow-right"></iconify-icon>
            <div>
                <h5>
                    To
                </h5>
                <h3 id="deliverydata">
                    {{ delivery_date }}
                </h3>
            </div>
        </div>
    </div>
<h1 style="text-align: center; font-weight: bold; font-size:large; align-items: center;">
    Select You Car
</h1>
    
        <div class="container card-grid section2">
            {% for car in available_cars %}
            <div class="card">
                <img src="{{ car.image.url }}" alt="{{ car.brand }}">
                <div class="cardsection1">
                    <h3>{{ car.brand }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minima molestias quo </p>
                    <div class="cardsection2">
                        <p style="font-size: medium; text-align: center;">
                            <iconify-icon icon="lucide:indian-rupee"></iconify-icon>
                            {{car.total_price}}/{{rental_days}}days
                        </p>
                        <div>
                            <p class="pickup-place ">
                                <iconify-icon icon="ion:location"></iconify-icon>
                            {{ car.place  }} 
                            </p>
                            
                        </div>
                    </div>
                    <div>
                        <a class="rentbutton" href="{% url 'moredetails' car_id=car.id %}">Rent Now</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h3>No cars available for the selected criteria.</h3>
            
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}