{% extends 'Base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}">

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    jQuery(document).ready(function($) {
        var dateFormat = "yy-mm-dd";
        var today = new Date();

        $("#pickupDate, #deliveryDate").datepicker({
            dateFormat: dateFormat,
            minDate: today,
            onSelect: function(dateText, inst) {
                var selectedDate = new Date(dateText);
                var dateType = $(this).attr("id");
                if (dateType === "pickupDate") {
                    $("#deliveryDate").datepicker("option", "minDate", selectedDate);
                } else {
                    $("#pickupDate").datepicker("option", "maxDate", selectedDate);
                }
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="main">
    <!-- banner -->
    <div class="banner">
        <img src="{% static 'images/heroimage.jpg' %}" class="bannerimage" alt="unexpected error">
        <div class="form-overlay">
            <form class="form" method="post" action="{% url 'cars' %}">
                {% csrf_token %}
                <select id="cityInput" class="input input1" name="city" required>
                    <option value="" disabled selected>Select a location</option>
                    <option value="city1">city 1</option>
                    <option value="city2">city 2</option>
                    <option value="city3">city 3</option>
                </select>
                <input type="text" placeholder="Pickup Date" class="input" id="pickupDate" name="pickupDate" required>
                <input type="text" placeholder="Delivery Date" class="input" id="deliveryDate" name="deliveryDate" required>
                <button type="submit" class="button" id="submitButton">Get Car</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
